---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<head>
  <style>
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    /* text-decoration: underline; */
  }
  a {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  </style>
  </head>

<h2 style="color:#2E86C1">Reviewing activities</h2>

<h3>Journals</h3>
<ul>
  <li>Nature Communications</li>
  <li>Transportation Research Part C: Emerging Technologies</li>
  <li>Transportation Research Part A: Policy and Practice</li>
  <li>Reliability Engineering & System Safety</li>
  <li>Journal of Transport Geography</li>
  <li>Expert Systems with Applications</li>
  <li>Transportation Letters</li>
  <li>Research in Transportation Business and Management</li>
  <li>Transportation Planning and Technology</li>
</ul>

<h3>Conferences</h3>
<ul>
  <li>Transportation Research Board Annual Meeting</li>
  <li>IEEE Conference on Models and Technologies for Intelligent Transportation Systems (MT-ITS)</li>
  <li>MobilTUM</li>
</ul>
