---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<head>
  <style>
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #2E86C1;
    background-color: transparent;
    /* text-decoration: underline; */
  }
  </style>
  </head>

<h3>2021/2022/2023 Winter semester (Oct - Feb)</h3>
<ul>
  <li>Special Topics on Model Calibration</li>
</ul>

<h3>2022 Summer semester (Apr - Aug): </h3>
<ul>
  <li>Statistical Learning and Data Analytics for Transportation Systems</li>
  <li>Optimization for Transportation Systems</li>
</ul>

<h3>Theses supervision:</h3>
<ul>
  <li><a href="https://mediatum.ub.tum.de/doc/1763016/b4b2xpn92p3hoxvh5unm8i4ys.pdf">Forecasting crowding pattern evolution at subway stations using opportunistic data</a> (Apr 2024 - Sep 2024. Student: Wanrong Hu)</li>
  <li><a href="https://mediatum.ub.tum.de/doc/1709205/krpfsz0ov9lv9wiab90tjvrnl.pdf">Optimizing Siting of Urban Air Mobility Vertiports in Multimodal Transportation Networks with Two-Stage Stochastic Programming</a> (Jul 2023 - Jan 2024. Student: <a href="https://www.mos.ed.tum.de/en/vvs/mitarbeiterinnen/tao-guo/">Tao Guo</aa>. Master's Thesis)</li>
  <li><a href="https://mediatum.ub.tum.de/doc/1709205/krpfsz0ov9lv9wiab90tjvrnl.pdf">Transfer learning for transportation system resilience estimation using floating car data</a> (Nov 2022 - May 2023. Student: <a href="https://www.mos.ed.tum.de/en/vvs/mitarbeiterinnen/ningkang-yang/">Ningkang Yang</aa>. Master's Thesis) (<a href="https://www.its-bavaria.de/verleihung-von-its-awards/">ITS Bavaria Award 2023</a>: Best Master’s Thesis)</li>
  <li><a href="https://mediatum.ub.tum.de/doc/1694235/sd917zww2e6hv0ho74v8nxi6r.pdf">Calibration of car-following models with genetic algorithm and particle swarm optimization methods</a> (May 2022 - Oct 2022. Student: Yuting He. Bachelor's Thesis)</li>
</ul>